In [1]:
import pandas as pd
df = pd.read_csv("palmer_penguins.csv")
df

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N38A2,No,12/1/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,PAL0910,121,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,FEMALE,8.41151,-26.13832,NaN
341,PAL0910,122,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,MALE,8.30166,-26.04117,NaN
342,PAL0910,123,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,FEMALE,8.24246,-26.11969,NaN
343,PAL0910,124,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,MALE,8.36390,-26.15531,NaN

In [19]:
df = df.drop(["Stage", "Individual ID", "Clutch Completion", "Date Egg", "Delta 15 N (o/oo)", "Delta 13 C (o/oo)", "Comments"], axis = 1)
df

,studyName,Sample Number,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,NaN,NaN,NaN,NaN,NaN
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,NaN,NaN,NaN,NaN,NaN
340,PAL0910,121,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,PAL0910,122,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,PAL0910,123,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,PAL0910,124,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [20]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest = train_test_split(df,test_size=.2)

In [21]:
Xtrain

,studyName,Sample Number,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
272,PAL0809,53,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,45.1,14.4,210.0,4400.0,FEMALE
14,PAL0708,15,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,34.6,21.1,198.0,4400.0,MALE
34,PAL0708,35,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,36.4,17.0,195.0,3325.0,FEMALE
190,PAL0809,39,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,46.9,16.6,192.0,2700.0,FEMALE
123,PAL0910,124,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,41.4,18.5,202.0,3875.0,MALE
...,...,...,...,...,...,...,...,...,...,...
227,PAL0708,8,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,46.7,15.3,219.0,5200.0,MALE
248,PAL0708,29,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,48.2,14.3,210.0,4600.0,FEMALE
131,PAL0910,132,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,43.1,19.2,197.0,3500.0,MALE
163,PAL0708,12,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,51.7,20.3,194.0,3775.0,MALE
141,PAL0910,142,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,40.6,17.2,187.0,3475.0,MALE

In [22]:
Xtest

,studyName,Sample Number,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
113,PAL0910,114,Adelie Penguin (Pygoscelis adeliae),Anvers,Biscoe,42.2,19.5,197.0,4275.0,MALE
300,PAL0910,81,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,49.1,14.5,212.0,4625.0,FEMALE
53,PAL0809,54,Adelie Penguin (Pygoscelis adeliae),Anvers,Biscoe,42.0,19.5,200.0,4050.0,MALE
43,PAL0708,44,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,44.1,19.7,196.0,4400.0,MALE
245,PAL0708,26,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,46.1,15.1,215.0,5100.0,MALE
...,...,...,...,...,...,...,...,...,...,...
291,PAL0809,72,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,46.4,15.6,221.0,5000.0,MALE
326,PAL0910,107,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,41.7,14.7,210.0,4700.0,FEMALE
225,PAL0708,6,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,46.5,13.5,210.0,4550.0,FEMALE
158,PAL0708,7,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,46.1,18.2,178.0,3250.0,FEMALE
67,PAL0809,68,Adelie Penguin (Pygoscelis adeliae),Anvers,Biscoe,41.1,19.1,188.0,4100.0,MALE